POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
SECURITY_API_KEY=
PASSWORD_ENCRYPTION_KEY=
BOOTSTRAP_ADMIN_PASSWORD=

BOOTSTRAP_ADMIN_PERSONAL_ID=КП-0001
BUSINESS_TIME_ZONE=Europe/Vienna
FRONTEND_ORIGIN=http://localhost:4200

BACKEND_PORT=5081
POSTGRES_PORT=5432
