POSTGRES_DB=certifications
POSTGRES_USER=certifications
POSTGRES_PASSWORD=ad3532b2a5c1cb923526ef94cc42d1e51f7dcbce3e602b73b99c30bb45e5fa07
SECURITY_API_KEY=060a30cdecd7492688e0dbd07ae9bc980f2e980514f8ffe2fbe3999d674165f2
PASSWORD_ENCRYPTION_KEY=4N3hYBFpa6iFO/73zj3W3PKLyq26QuAk/PyzUICOIf8=
BOOTSTRAP_ADMIN_PASSWORD = !Area051

BOOTSTRAP_ADMIN_PERSONAL_ID=КП-0001
BUSINESS_TIME_ZONE=Europe/Minsk
FRONTEND_ORIGIN=https://localhost:4200

FRONTEND_PORT=4200
BACKEND_PORT=5081
POSTGRES_PORT=5432
